* {
  font-family: 'Orbitron', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding-top: 3rem;
  height: 100vh;
  background: rgb(31, 184, 209);
  background: radial-gradient(
    circle,
    rgba(31, 184, 209, 1) 0%,
    rgba(86, 86, 156, 1) 79%,
    rgba(24, 38, 75, 1) 100%
  );
}

.container h1 {
  color: #00217e;
}

.timer {
  display: flex;
  font-size: 55px;
  font-weight: bold;
  color: #333;
}

.time {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  min-width: 90px;
  color: #172953;
}

.separator {
  padding: 0 10px;
  color: #140d00;
}

.buttons {
  display: flex;
  gap: 1rem;
}

.btn {
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 30px;
  cursor: pointer;
  border: 1px solid #ccc;
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  transform: scale(1.1);
}

#startBtn {
  background-color: #00217e;
  color: #fff;
}

#pauseBtn,
#resumeBtn {
  display: none;
}
